body, html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ajuste do body */
body {
    cursor: url("../images/cursor.png"), auto;
}

/* Ajustes da tela inicial */
#start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Ajuste para 100vh */
    overflow: hidden;
    z-index: 90;
}

#start-screen img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Isso fará a imagem cobrir toda a tela */
    z-index: -1; /* Coloca a imagem atrás do botão */
}

#start-btn {
    position: relative; /* Para ficar sobre a imagem */
    padding: 1.5rem 2.5rem;
    font-size: 1.8rem;
    background-color: #ffd700;
    border-radius: 1.5rem;
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 91; /* Garante que o botão fique sobre a imagem */
}

#start-btn:hover {
    transform: scale(1.1);
    background-color: #ffed4a;
}

/* Ajustes do container principal do jogo */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../images/wall.png");
    background-size: 200px;
}

/* Menu do jogo */
.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 100%;
    background: linear-gradient(to right, #00FFCC, #003300);
    color: #d3e013;
    border-bottom: 5px solid #ffd700;
}

.menu-time, .menu-score, .menu-lives {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    min-width: 100px; /* Ajuste conforme necessário */
}

#time-left, #score, #lives {
    font-size: 2rem;
    color: #d3e013;
    font-weight: bold;
    text-align: center;
}

/* Painel do jogo */
.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: auto;
    min-height: calc(100vh - 90px); /* Para ajustar conforme o menu */
    padding: 10px;
    position: relative;
}

.panel-row {
    display: flex;
    gap: 1rem;
}

.square {
    height: 150px;
    width: 150px;
    background: url("../images/janela-sem-ralph.png") center center no-repeat;
    background-size: cover;
    border-radius: 5%;
    transition: all 0.3s ease;
}

.enemy {
    background-image: url("../images/janela-ralph.png");
}

/* Tela de Game Over */
#game-over-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 100;
}

#game-over-message {
    color: #ffffff;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
}

#restart-btn {
    padding: 1.5rem 2.5rem;
    font-size: 1.8rem;
    background-color: #ffd700;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#restart-btn:hover {
    transform: scale(1.1);
    background-color: #ffed4a;
}

/* Tela de Cadastro */
#cadastro-screen {
    font-size: 2rem; /* Ajuste o tamanho do texto para telas pequenas */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Garante que ocupe pelo menos 100% da altura da tela */
    padding: 20px;
    gap: 40px;
    height: auto;
    flex-direction: column; /* Coloca os elementos em coluna */
    background: linear-gradient(to right, #00FFCC, #003300);
    overflow-y: auto; /* Permite rolagem vertical se necessário */
    position: relative; /* Adicionado para permitir o ajuste do z-index */
}

#cadastro-screen img {
    position: relative; /* Muda para 'relative' para se comportar em relação ao fluxo do documento */
    width: 40   %; /* Reduz a largura da imagem para 80% da largura do container */
    height: auto; /* Ajusta a altura automaticamente */
    margin-top: 20px; /* Adiciona um espaço acima da imagem, se necessário */
    display: block; /* Garante que a imagem seja tratada como um bloco, evitando espaço abaixo */
    margin-left: auto; /* Centraliza a imagem horizontalmente */
    margin-right: auto; /* Centraliza a imagem horizontalmente */
}


#cadastro-screen h1 {
    color: #fff;
    font-size: 1.5rem; /* Reduz o tamanho da fonte em telas pequenas */
    text-align: center; /* Centraliza o título */
    margin-bottom: 20px; /* Espaço abaixo do título */
}

#nickname {
    padding: 10px; /* Adiciona espaçamento interno */
    font-size: 1rem; /* Ajusta o tamanho da fonte */
    width: 80%; /* Ajusta a largura do input */
    max-width: 300px; /* Limite máximo de largura */
    border: 2px solid #ffd700;
    border-radius: 5px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.9);
}

#cadastro-btn {
    padding: 10px; /* Adiciona espaçamento interno */
    font-size: 1rem; /* Ajusta o tamanho da fonte */
    background-color: #ffd700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 80%; /* Ajusta a largura do botão */
    max-width: 300px; /* Limite máximo de largura */
}

/* Ajusta o título da tela de cadastro */
#cadastro-btn:hover {
    background-color: #ffed4a;
    transform: scale(1.05);
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a, nav ul li button {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s;
}

nav ul li a:hover, nav ul li button:hover {
    background-color: #575757;
}

#ranking-btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#ranking-btn:hover {
    background-color: #d60000;
}

.game-button {
    background-color: red;
    color: rgb(12, 12, 12);
    font-size: 16px;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    width: 100%;
    max-width: 250px;
    transition: background-color 0.3s;
}

.game-button:hover {
    background-color: darkred;
}

/* Estilo para o container do ranking */
.ranking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #00FFCC, #003300);
    padding: 20px;
    overflow: auto;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 10px;
    text-align: center;
}

th, td {
    border: 2px solid #ffd700;
    padding: 5px;
}

th {
    background-color: #ffd700;
    color: black;
}
