body{
    height: 100vh;
    width: 100vw;
    cursor: url("../images/cursor.png"), auto;
    
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url("../images/wall.png");
    background-size: 200px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 90px;
    width: 100%;
    background: linear-gradient(to right, #00FFCC, #003300);
    color: #d3e013;
    border-bottom: 5px solid #ffd700;
}

.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.square{
    height: 200px;
    width: 200px;
    background: url("../imgs/janela-sem-ralph.png");
    background-size: cover;
}

.enemy {
    background-image: url("../images/janela-ralph.png");
    background-size: cover;
}

.square:hover {
    background-color: #47e9b3;
    transition-duration: 0.5s;
  }